<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.michael.sweet.heart.platform.organization.mapper.UserInfoMapper">

    <resultMap id="baseResultMap" type="com.michael.sweet.heart.platform.organization.entity.UserInfoEntity">
        <id property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="userChineseName" column="USER_CHINESE_NAME" jdbcType="VARCHAR"/>
        <result property="jobNumber" column="JOB_NUMBER" jdbcType="VARCHAR"/>
        <result property="sex" column="SEX" jdbcType="VARCHAR"/>
        <result property="email" column="EMAIL" jdbcType="INTEGER"/>
        <result property="birthday" column="BIRTHDAY" jdbcType="TIMESTAMP"/>
        <result property="mobile" column="MOBILE" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="CREATE_USER" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP"/>
        <result property="modifyUser" column="MODIFY_USER" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumns">
        ID, USER_CHINESE_NAME, JOB_NUMBER, SEX, EMAIL, BIRTHDAY, MOBILE,
        CREATE_TIME, CREATE_USER, MODIFY_TIME, MODIFY_USER
    </sql>

</mapper>